
<div>
    <img class="center-block" src="http://videopark.com.cn/wp-content/uploads/revslider/VP-NVR-Nxx00-BL/feature_cloud-based-400x340.png">
</div>

<div class="container text-center">
    <h1>A Safe place for your file.</h1>
    {{#if name}}
        <h3>Go to <a href="/upload">Upload</a></h3>
    {{else}}
        <h3>Go to <a href="/signup">Storage</a></h3>
    {{/if}}
</div>
