<div>
    <form class="form-horizontal" method="post" action="#">
        <h2>Public File Request</h2>
        <textarea rows="3" cols="60" name="text" required="required" placeholder="Ask files from other users,{{ name }}!"></textarea><br><br>
        <div style="width:30%">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Request!</button>
        </div>
    </form>

</div>